.DS_Store
.DS_Store
.build/
.swiftpm/
xcuserdata/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
project.xcworkspace/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
dependencies/
.claude